    <?xml version="1.0" encoding="UTF-8"?>
    <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"\>
    <plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>FixTextApp</string>
    <key>CFBundleDisplayName</key>
    <string>FixText</string>
    <key>CFBundleIdentifier</key>
    <string>com.example.FixTextApp</string>
    <key>CFBundleExecutable</key>
    <string>FixTextApp</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>LSMinimumSystemVersion</key>
    <string>13.0</string>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
</dict>
</plist>
